/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tiny {
	font-size: 8pt;
}

.error {
	color: rgb(129, 17, 17);
	background-color: rgb(155, 134, 134);
}

.flx-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
 }

 .flx-row-right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
 }

 .flx-col {
	display: flex;
	flex-direction: column;
 }

.flx-row-nowrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flx-spacer {
	flex: 1 1 auto;
 }
 
 .flx-end {
	justify-items: flex-end;
 }

 .flx-col-space-between {
	justify-content: space-between;
 }
 

 .flx-50 {
	 flex-basis:50px;
 }
 .flx-200 {
	 flex-basis:200px;
 }
 .flx-250 {
	 flex-basis:250px;
 }
 .flx-300 {
	 flex-basis:300px;
 }
 
 .flx-grow-1 {
	 flex-grow: 1;
 }
 
 .flx-grow-2 {
	 flex-grow: 2;
 }
 
 .flx-grow-4 {
	 flex-grow: 4;
 }
 
 .flx-grow-8 {
	flex-grow: 8;
}
 
.flx-vcenter {
	 align-self: center;
 }

 .flx-item {
	margin-right: 20px;
 }

 mat-form-field {
	width: 100%;
 }